/*font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif;
*/

.pricing {
    background-color: white;
    padding: 2.5rem 1rem;

    h2 {
        color: black;
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        text-align: center;
        padding: 15px;
    }

    .offer {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        border-radius: 2rem;
        line-height: 2rem;

        a {
            position: absolute;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: bold;
            color: white;
            padding: 5px 35px;
            border-radius: 30px;

            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%)
        }

        &:first-of-type {
            border: 1px solid #FB3B64;
            margin: 1.5rem 1.5rem 2rem 1.5rem;

            h2 {
                color: #FB3B64;
            }

            a {
                background-color: #FB3B64;
            }
        }

        &:nth-of-type(2) {
            border: 1px solid #08A6E4;
            margin: 1.5rem .5rem 2rem .5rem;
            box-shadow: 5px 10px 27px #07ACE629;
            line-height: 2.5rem;

            h2 {
                color: #08A6E4;
            }

            a {
                background-color: #08A6E4;
            }
        }

        &:last-of-type {
            border: 1px solid #55DFB4;
            margin: 1.5rem;

            h2 {
                color: #55DFB4;
            }

            a {
                background-color: #55DFB4;
            }
        }

        div:first-of-type {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-family: 'Raleway', sans-serif;
                font-size: 12px;
                text-align: center;
                font-weight: bold;
                color: #13253B;
            }
        }

        div:last-of-type {
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #000000;
            }
        }

        div {
            margin-bottom: 20px;
            padding: 20px 10px;
            width: 50%;

            .fa-check-square {
                color: #55DFB4;
            }

            .fa-times-circle {
                color: #FB3B64;
            }
        }

        h3 {
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: #13253B;
            text-align: center;
        }

        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 46px;
            font-weight: 300;
        }
    }


    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;

        .articles {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .offer {
                display: flex;
                flex-direction: column;
                padding: 40px 40px;

                &:nth-of-type(1) {
                    padding: 40px 40px 70px 40px;
                }

                div {
                    width: 100%;
                }


                h2 {
                    text-align: center;
                }

                h3 {
                    text-align: center;
                }
            }
        }
    }
}